<div class="input-row login-form__input-row">
     <input class="input{{#if className}} {{ className }}{{/if}} {{#if error}}input--error{{/if}}"
          name="{{name}}" 
          {{#if value}} value="{{value}}"{{/if}} 
          type="{{type}}"
          placeholder="{{ placeholder}}"
          {{#if disabled }} disabled {{/if}} 
          data-valid="{{valid}}"
      >
     <span class="input__error">{{ errorMessages }}</span>
</div>
