<div class="input-row{{#if rowClassName}} {{rowClassName}}{{/if}}">
  <input class="input{{#if className}} {{ className }}{{/if}}" name={{name}} {{#if value}} value={{value}} {{/if}} type={{type}}  placeholder={{ placeholder}} {{#if disabled }} disabled {{/if}} >
</div>