<section class="login-section">
  <form class="login-form" novalidate="novalidate">
    <div class="login-form__content">
      {{{ title }}}  
      {{{ inputLogin }}}
      {{{ inputPassword }}}
    </div>
    <div class="login-form__footer">
      {{{ loginButton }}}
      {{{ regLink}}}
    </div>
  </form>
</section>
