<section class="chat-page">
  <div class="chat-page__sidebar">
    <div class="chat-page__header">
      {{{ profileLink }}}
    </div>
    <div class="chat-list chat-page__list">
      {{{ chatItems }}}
    </div>
    {{{ buttonOpenModalAddChat }}}
  </div>
  <div class="chat">
    <header class="chat__header">
      {{{ chatItemHeader }}}
    </header>
    <div class="chat__body">
      {{{ messages }}}
    </div>
    <footer class="chat__footer">
      {{{ messageForm }}}
    </footer>
  </div>

  {{{ addChatModal }}}

  {{{ addUserToChatModal }}}

  {{{ removeUserToChatModal }}}
</section>
